.App {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
@media screen and (max-width: 600px) {
    body {
      background-color: olive;
      color: whitesmoke; 
      display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
         
    }
  }