.Dice {
    border: solid 2px dodgerblue;
    padding: 1em 0 2em 0; 
    text-align: center;
    margin: 1em auto auto;
    border-radius: 10px;
    width: 40em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.Dice h2 {
    text-align: center;
    color: tomato;
    text-align: center;
  }
  
  .Dice button {
    background-color: dodgerblue;
    color: white;
    font-size: 140%;
    border-radius: 2px;
    margin-top: 1.5em;
  }