.Die {
    background-color: #6D214F;
    border-radius: 0;
    color: white;
    display: inline-block;
    width: 3em;
    height: 3em;
    padding-top: 2em;
    text-align: center;
    margin-right: 0.5em;
    font-weight: bold;
    font-size: 2.0em;
}